
.resume-container {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 20px;
  border-color: #ACCEE9;
  transition: all 0.3 ease;
}

body.light-mode #resume-title {
font-size: 200%;
color: #45546B;
}

body.dark-mode #resume-title {
font-size: 200%;
color: rgb(132, 165, 214);
}

body.light-mode #horizontal-rule-main {
  background-color: #45546B;
  width: 100%;
  height: 2px;
}

body.dark-mode #horizontal-rule-main {
  background-color: rgb(132, 165, 214);
  width: 100%;
  height: 2px;
}

#horizontal-rule-minor {
  background-color: #7F7F7F;
  width: 100%;
  height: 1px;
}

body.light-mode .resume-heading {
color: #45546B;
font-size: 125%;
}

body.dark-mode .resume-heading {
color: rgb(132, 165, 214);
font-size: 125%;
}

body.light-mode .resume-bullet-title {
  color: 	#7F7F7F;
  font-size: 110%;
}
body.dark-mode .resume-bullet-title {
  color: 	#ececec;
  font-size: 110%;
}

body.light-mode .resume-text {
color: 	#7F7F7F;
font-size: 100%;
margin-left: 15%;
}

body.dark-mode .resume-text {
color: 	#ececec;
font-size: 100%;
margin-left: 15%;
}

body.light-mode .resume-summary {
color: 	#7F7F7F;
font-size: 100%;
text-align: center;
}

body.dark-mode .resume-summary {
color: 	#ececec;
font-size: 100%;
text-align: center;
}

body.light-mode .underline {
  text-decoration: underline;
  color: 	#7F7F7F;
}
body.dark-mode .underline {
  text-decoration: underline;
  color: 	#ececec;
}

.link-to-download a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(200, 200, 200) !important;
  font-size: 100%;
}
.link-to-download a:hover {
  color: rgb(115, 115, 115);
  font-weight: bold;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media(max-width: 600px) {
  .resume-container {
    width: 95%;
  }
}

@media(max-width: 768px) {
  .resume-container {
    width: 95%;
  }
}
